splitSerialData
[{"id":"635aefb0.7fadb","type":"serial in","z":"30276b58.0d59cc","name":"","serial":"bf74a7e1.7c92a8","x":97,"y":49,"wires":[["dace0a3c.970388"]]},{"id":"b087c492.5f0f6","type":"debug","z":"30276b58.0d59cc","name":"","active":false,"console":"false","complete":"payload","x":394,"y":252,"wires":[]},{"id":"dace0a3c.970388","type":"function","z":"30276b58.0d59cc","name":"SplitData","func":"var outputMsgs = [];\nvar datos = msg.payload.split(\",\");\nfor (var w in datos) {\n    outputMsgs.push({payload:datos[w]});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":260,"y":141.5,"wires":[["b087c492.5f0f6"]]},{"id":"bf74a7e1.7c92a8","type":"serial-port","z":"30276b58.0d59cc","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]
