node-red-clipboards/DateTime1out
[{"id":"5b7fa535.e029dc","type":"inject","z":"ddcef761.ad6e5","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":125,"y":144,"wires":[["fc1b3903.a19c08"]]},{"id":"fc1b3903.a19c08","type":"function","z":"ddcef761.ad6e5","name":"Generar fecha y hora","func":"var datetime = new Date(msg.payload);\n\nday = datetime.getDate();\nmonth = datetime.getMonth() + 1;\nyear = datetime.getFullYear();\nmsg.payload = day +'/'+ month +'/'+year+' ';\n\nhours = datetime.getHours();\nminutes = datetime.getMinutes();\nseconds = datetime.getSeconds();\nmsg.payload = msg.payload + hours +':'+ minutes +':'+seconds;\n\nreturn msg;","outputs":"1","noerr":0,"x":264,"y":75,"wires":[["fc0e3e7.8b5374"]]},{"id":"fc0e3e7.8b5374","type":"debug","z":"ddcef761.ad6e5","name":"","active":true,"console":"false","complete":"payload","x":395,"y":153.5,"wires":[]}]
